@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Londrina+Outline&family=Major+Mono+Display&family=Press+Start+2P&display=swap");
@import url('https://fonts.cdnfonts.com/css/end-el-san-logo');


div.HomePage {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1b1b;  
}
div.centered-container {
  height: 63%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


h1.tictactoeHead {
  /* font-family: "Press Start 2P"; */
  font-family: 'End-El-San Logo';
  font-size: 3.5vw;
  font-weight: 600;
  /* background: -webkit-linear-gradient(#269caa, #333); */
  /* background: -webkit-linear-gradient(120deg,#269caa, #904071);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

  background: linear-gradient(134deg, #269caa, #904071);
  background-size: 400% 400%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-animation: TittleAnimator 4s ease infinite;
  -moz-animation: TittleAnimator 4s ease infinite;
  animation: TittleAnimator 4s ease infinite;
}

@-webkit-keyframes TittleAnimator {
  0%{background-position:0% 7%}
  50%{background-position:100% 94%}
  100%{background-position:0% 7%}
}
@-moz-keyframes TittleAnimator {
  0%{background-position:0% 7%}
  50%{background-position:100% 94%}
  100%{background-position:0% 7%}
}
@keyframes TittleAnimator {
  0%{background-position:0% 7%}
  50%{background-position:100% 94%}
  100%{background-position:0% 7%}
}

h1.tictactoeHead{
  letter-spacing: -2px;
}

h1.name-link {
  font-weight: 650;
  text-align: center;
  color: #ffff;
  font-size: 1.5vw;

}

h1.name-link a , h1.name-link a{
  text-decoration: underline;
  color: rgb(0, 140, 255);
 font-size: 1.7vw;
 font-weight: 650;
 color: rgb(0, 174, 255);
 text-align: center;
  font-family: "Poppins";
}

button.ButtonsMans{
  background: transparent;
  color: #ffff;
  border: 1.5px solid #ffff;
  padding: 0.7vw 4vw;
  font-size: 1.5vw;
  cursor:pointer;
  font-family: "Poppins";
  border-radius: 2rem;
  transition: all 100ms;
}
button.ButtonsMans:active{
  color: rgb(0, 0, 0);
  background: #ffff;
}
h1.name-link span{
  color: red;
}



@media only screen and (max-width:650px){
  div.HomePage {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b1b1b;  
  }
  div.centered-container {
    height: 50%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  
  h1.name-link{
    font-size: 8vw;
    font-weight: 600;
    color: rgb(245, 245, 245);
  }
  
  h1.tictactoeHead{
    letter-spacing: -2px;
    font-size: 9vw;
    font-weight: 600;
  }

  h1.name-link span{
    color: red;
  }
  
  h1.name-link{
    font-size: 1.3rem;
    font-weight: 650;
    text-align: center;
  }
  
  h1.name-link a{
    text-decoration: underline;
    font-size: 1.4rem;
    color: rgb(0, 140, 255);
  }

button.ButtonsMans{
  background: transparent;
  color: #ffff;
  border: 2px solid #ffff;
  padding: 0.4rem 2rem;
  font-size: 5vw;
  cursor:pointer;
}
button.ButtonsMans:active{
  color: rgb(0, 0, 0);
  background: #ffff;
}
  
}

