@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2&family=Roboto&family=Space+Mono&display=swap');

div.message{
	max-width: 70%;
	min-height: 0.2rem;
	display: flex;
	margin: 10px 4px 0 4px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgb(0, 144, 211);
}

div.message-body{
	text-align: left;
	padding: 2px 5px;
}

div.message-time{
	width: 100%;	
}

div.message-time p{
	padding: 0 4px 0 0;
       font: 600 0.7vw "Poppins";
	text-align: right;
	color: #ffff;
}

div.message-body p{
	font-size: 1.1vw;
	font-weight: 600;
	font-family: "Roboto";
	max-width: 100%;
	margin-left: auto;
	/* overflow-wrap: anywhere; */
	color: rgb(255, 255, 255);
}

@media only screen and (max-height:300px){

}