div.Modal{
	position: absolute;
	top: 14%;
	left: 50%;
	transform: translate(-50%,-50%);
	border: 3px solid #1b1b1b;
	border-radius: 1%;
	background: linear-gradient(280deg, #269caa, #904071);
  background-size: 400% 400%;

  -webkit-animation: TittleAnimator 5s ease infinite;
  -moz-animation: TittleAnimator 5s ease infinite;
  animation: TittleAnimator 5s ease infinite;
	height: 33vh;
	width: 50vh;
	transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 3);
}


div.modalheader{
	text-align: right;
}
div.modalheader i{
	padding: 2px 2px 2px 0px;
	font-size: large;
	cursor: pointer;
	color: #1b1b1b;
}

div.modalBody{
    width: 100%;
    height: 68%;
}
div.Error{
	height: 22%;
	width: 100%;
	color: #ffff;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media only screen and (max-width:600px){
	
div.Modal{
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 1%;
	/* background: rgb(0, 0, 0); */
	/* background: linear-gradient(280deg,#904071, #269caa); */
	
	height: 30vh;
	width: 40vh;
	transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 3);
}


div.modalheader{
	text-align: right;
	/* display: flex;
	align-items: center;
	justify-content: space-between; */
}
div.modalheader i{
	padding: 8px 8px 8px 0px;
	font-size: large;
	cursor: pointer;
	color: #1b1b1b;
}

div.modalBody{
    width: 100%;
    height: 70%;
}


	
}