@import url("https://fonts.googleapis.com/css2family=Roboto");

:root{
	--secondary-color:#FF4700;
}

div.turn h5{
	font: 700 1rem "Roboto";
	color: var(--secondary-color);
	padding: 0 0 10px 0;
}
div.realStats p{
	font: 700 0.8rem "Roboto";
	color: var(--secondary-color);
}
div.statsHeaders p{
	font: 600 0.8rem "Roboto";
	color: #0ed7e6;
}