div.board{
	display: grid;
	grid-template-columns: repeat(3,1fr);
}

.square-inner{
	color: black;
	background: #ffff;
	align-items: center;
	justify-content: center;
	display: flex;
	font-size: 15vw;
	border: 0.3vw solid rgb(0,0,0);
	transition: 0.2s;
	height: 15vw;
	width: 15vw;
}

.square-inner:active{
	font-size: 11vw;
	align-items: center;
}